@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    min-height: 100%;
}

body{  
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

ul, li, a, button{
    color: #ecf0f1;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #24252A;
}

.logo{
    height: 50px;
    margin-right: auto;
}

.menu li{
    display: inline-block;
    padding: 0px 20px;
}

.menu li a{
    transition: 0.8s;
}

.menu li a:hover{
    color: #ff8657;
}

button{
    padding: 10px 25px;
    background-color: #ff8657;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
}

button:hover{
    background-color: rgba(250, 120, 60, 0.8);
}

img{
    max-width: 100%;
    display: block;
}

.layout{
    display: flex;
    flex-wrap: wrap;
    min-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.layout > div{
    flex: 1 1 200px;
    margin: 10px;
}

.cards{
    width: 100%;
    color: #ecf0f1;
    background-color: #24252A;
}


form{
    max-width: 500px;
    width: 70%;
    padding:20px;
    background: #24252A;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

form h2{
    text-align: center;
    color: #ecf0f1;
}

form input[type=text],
form input[type=password],
form input[type=email]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

form button[type=submit]{
    width: 100%;
    height: 40px;
    border-radius: 0px;
}

form .create-guest{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
}

footer{
    color: #ecf0f1;
    background-color: #24252A;
    text-align: center;
    padding: 30px 5%;
    margin-top: auto;
}

#essence{
    padding: 70px;
}

#one-one{
    grid-template-columns: 1fr 1fr;
}

#three-one{
    grid-template-columns: 3fr 1fr;
}
